.registration {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    width: 100%;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.form-label {
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}


.form-input {
    flex: 1;
}


.submit-button {
    width: 100px;
    align-self: center;
}